<p>
  <%= link_to review.user.name, review.user %>
</p>

<p> <%= review.content %> </p>

<% if current_user.id==review.user.id || current_user.admin?  %>
<%= link_to "edit", edit_course_review_path(review.course,review) %>
<%= link_to "delete", course_review_path(review.course, review) , method: :delete,data: { confirm: "You sure?" } %>
<% end %>

